.vscode/**
.vscode-test/**
.idea/**
.github/**
src/**
out/**/*.map
node_modules/**
generated_imgs/**
**/*.ts
!out/**/*.js
*.vsix
Makefile
.gitignore
.vscodeignore
tsconfig.json
tsconfig.test.json
package-lock.json
CHANGELOG.md
out-test/**
out/test/**
eslint.config.js
